* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Fonts */
    --font_montserrat: 'Montserrat', sans-serif;
    --font_motoSansJp: 'Noto Sans JP', sans-serif;
    --font_poppins: 'Poppins', sans-serif;
    --font_ubuntu: 'Ubuntu Mono', monospace;
}

/* Styles header */
.title_header {
    font-family: var(--font_poppins);
    font-size: 13px;
    color: #090F31;
}

.title_orange {
    color: #F7542E;
}

/* styles Nav */
.list_nav {
    list-style-type: none;
    font-family: var(--font_motoSansJp);
    font-size: 14px;
    color: #9E9E9E;
    font-weight: 500;
}

.item_list_nav:nth-child(5) {
    color: #090F31;
    font-weight: 700;
}

/* Style main */
.title_main {
    font-family: var(--font_poppins);
    font-weight: 500;
    font-size: 24px;
    color: #4F4F4F;
}